name: Release
permissions: {}

concurrency:
  # Apply concurrency control only on the upstream repo
  group: ${{ github.repository == 'dani-garcia/vaultwarden' && format('{0}-{1}', github.workflow, github.ref) || github.run_id }}
  # Don't cancel other runs when creating a tag
  cancel-in-progress: ${{ github.ref_type == 'branch' }}

on:
  push:
    branches:
      - main
      - main-upstream
      - test

    tags:
      # https://docs.github.com/en/actions/writing-workflows/workflow-syntax-for-github-actions#filter-pattern-cheat-sheet
      - '[1-2].[0-9]+.[0-9]+'

defaults:
  run:
    shell: bash

env:
  SOURCE_COMMIT: ${{ github.sha }}

jobs:
  determine-version:
    name: Determine version information
    runs-on: ubuntu-24.04
    outputs:
      source-version: ${{ steps.determine-version.outputs.SOURCE_VERSION }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        # We need fetch-depth of 0 so we also get all the tag metadata
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Determine Base Tags and Source Version
        id: determine-version
        shell: bash
        run: |
          # Get the Source Version for this release
          GIT_EXACT_TAG="$(git describe --tags --abbrev=0 --exact-match 2>/dev/null || true)"
          if [[ -n "${GIT_EXACT_TAG}" ]]; then
              echo "SOURCE_VERSION=${GIT_EXACT_TAG}" | tee -a "${GITHUB_OUTPUT}"
          else
              GIT_LAST_TAG="$(git describe --tags --abbrev=0)"
              echo "SOURCE_VERSION=${GIT_LAST_TAG}-${SOURCE_COMMIT:0:8}" | tee -a "${GITHUB_OUTPUT}"
          fi

  binaries:
    name: Build Vaultwarden binaries
    uses: docker/github-builder/.github/workflows/bake.yml@c767551a26459c30e1f683df73a12fdb918f7068 # v1.0.0
    needs:
      - determine-version
    strategy:
      matrix:
        base_image: ["debian", "scratch"]
    permissions:
      contents: read # to fetch the repository content
      id-token: write # for signing attestation(s) with GitHub OIDC Token
    with:
      set: |
        *.args.VW_VERSION=${{ needs.determine-version.outputs.source-version }}
        *.args.SKIP_REBUILD=true
      cache: true
      cache-mode: max
      cache-scope: bin-${{ matrix.base_image }}
      artifact-name: vaultwarden-binaries-${{ needs.determine-version.outputs.source-version }}-linux-${{ matrix.base_image }}
      artifact-upload: true
      output: local
      files: docker/docker-bake.hcl
      target: "${{ matrix.base_image }}-binaries"
      vars: |
        SOURCE_COMMIT="${{ github.sha }}"
        SOURCE_VERSION="${{ needs.determine-version.outputs.source-version }}"
        SOURCE_REPOSITORY_URL="https://github.com/${{ github.repository }}"

  containers:
    name: Build Vaultwarden containers
    uses: docker/github-builder/.github/workflows/bake.yml@c767551a26459c30e1f683df73a12fdb918f7068 # v1.0.0
    needs:
      - determine-version
      - binaries
    strategy:
      matrix:
        base_image: ["debian", "scratch"]
    permissions:
      contents: read # to fetch the repository content
      id-token: write # for signing attestation(s) with GitHub OIDC Token
      packages: write # Needed to upload packages and artifacts
    with:
      set: |
        *.args.VW_VERSION=${{ needs.determine-version.outputs.source-version }}
        *.args.SKIP_REBUILD=true
      cache: true
      cache-mode: max
      cache-scope: bin-${{ matrix.base_image }}
      output: image
      push: true
      files: docker/docker-bake.hcl
      target: "${{ matrix.base_image }}-multi"
      vars: |
        SOURCE_COMMIT="${{ github.sha }}"
        SOURCE_VERSION="${{ needs.determine-version.outputs.source-version }}"
        SOURCE_REPOSITORY_URL="https://github.com/${{ github.repository }}"
      meta-images: |
        ghcr.io/dfunkt/vaultwarden
      meta-tags: |
        type=semver,pattern={{version}}
        type=raw,value=latest,enable=${{ github.ref_type == 'tag' }}
        type=raw,value=testing,enable=${{ github.ref_type == 'branch' }}
        type=raw,value=${{ matrix.base_image }},suffix=,enable=${{ github.ref_type == 'tag' && matrix.base_image != 'debian' }}
      meta-flavor: |
        suffix=${{ matrix.base_image != 'debian' && format('-{0}', matrix.base_image) || '' }}
    secrets:
      registry-auths: |
        - registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
