name: Release
permissions: {}

concurrency:
  # Apply concurrency control only on the upstream repo
  group: ${{ github.repository == 'dani-garcia/vaultwarden' && format('{0}-{1}', github.workflow, github.ref) || github.run_id }}
  # Don't cancel other runs when creating a tag
  cancel-in-progress: ${{ github.ref_type == 'branch' }}

on:
  push:
    branches:
      - main
      - main-upstream
      - test

    tags:
      # https://docs.github.com/en/actions/writing-workflows/workflow-syntax-for-github-actions#filter-pattern-cheat-sheet
      - '[1-2].[0-9]+.[0-9]+'

defaults:
  run:
    shell: bash

env:
  DRY_RUN: ${{ github.event_name == 'workflow_dispatch' }}
  REGISTRY_SUFFIX: ${{ github.event_name == 'workflow_dispatch' && '-dryrun' || '' }}
  SOURCE_COMMIT: ${{ github.sha }}

jobs:
  determine-version:
    runs-on: ubuntu-24.04
    outputs:
      base-tags: ${{ steps.determine-version.outputs.BASE_TAGS }}
      source-version: ${{ steps.determine-version.outputs.SOURCE_VERSION }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        # We need fetch-depth of 0 so we also get all the tag metadata
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Determine Base Tags and Source Version
        id: determine-version
        shell: bash
        env:
          REF_TYPE: ${{ github.ref_type }}
        run: |
          # Check which main tag we are going to build determined by ref_type
          if [[ "${REF_TYPE}" == "tag" ]]; then
            echo "BASE_TAGS=latest,${GITHUB_REF#refs/*/}" | tee -a "${GITHUB_OUTPUT}"
          elif [[ "${REF_TYPE}" == "branch" ]]; then
            echo "BASE_TAGS=testing" | tee -a "${GITHUB_OUTPUT}"
          fi

          # Get the Source Version for this release
          GIT_EXACT_TAG="$(git describe --tags --abbrev=0 --exact-match 2>/dev/null || true)"
          if [[ -n "${GIT_EXACT_TAG}" ]]; then
              echo "SOURCE_VERSION=${GIT_EXACT_TAG}" | tee -a "${GITHUB_OUTPUT}"
          else
              GIT_LAST_TAG="$(git describe --tags --abbrev=0)"
              echo "SOURCE_VERSION=${GIT_LAST_TAG}-${SOURCE_COMMIT:0:8}" | tee -a "${GITHUB_OUTPUT}"
          fi

  bake:
    name: Build Vaultwarden containers
    uses: docker/github-builder/.github/workflows/bake.yml@main
    needs:
      - determine-version
    strategy:
      matrix:
        base_image: ["debian", "alpine"]
    permissions:
      contents: read # to fetch the repository content
      id-token: write # for signing attestation(s) with GitHub OIDC Token
      packages: write # Needed to upload packages and artifacts
    with:
      setup-qemu: true
      output: image
      push: true
      files: docker/docker-bake.hcl
      target: "${{ matrix.base_image }}-multi"
      vars: |
        BASE_TAGS="${{ needs.determine-version.outputs.BASE_TAGS }}"
        SOURCE_COMMIT="${{ github.sha }}"
        SOURCE_VERSION="${{ needs.determine-version.outputs.SOURCE_VERSION }}"
        SOURCE_REPOSITORY_URL="https://github.com/${{ github.repository }}"
      set: |
        *.cache-from=type=registry,ref=ghcr.io/dfunkt/vaultwarden-buildcache:${{ matrix.base_image }}
        *.cache-to=type=registry,ref=ghcr.io/dfunkt/vaultwarden-buildcache:${{ matrix.base_image }},compression=zstd,mode=max
      meta-images: |
        ghcr.io/dfunkt/vaultwarden
    secrets:
      registry-auths: |
        - registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
